apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: new-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # image will be updated by CI to use the commit SHA tag
          image: ravik92/backend:22d26c0b1d5fba6ba2495a7bdc84c7a9d3db8ce6
          ports:
            - containerPort: 3000
          env:
            - name: PGHOST
              value: "db"
            - name: PGUSER
              value: "postgres"
            - name: PGPASSWORD
              value: "postgres"
            - name: PGDATABASE
              value: "appdb"

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: new-app
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
