apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: new-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: db
          # image will be updated by CI to use the commit SHA tag
          image: ravik92/db:950639845825d59605381d645254ee52f1c051c4
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: "postgres"
            - name: POSTGRES_USER
              value: "postgres"

---
apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: new-app
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP
