apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: new-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # image will be updated by CI to use the commit SHA tag
          image: your-dockerhub-username/frontend:IMAGE_TAG
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: new-app
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
